body {
  font-family: "DIN Pro";
  font-weight: bold;
  font-style: normal;
}
.card:hover {
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
.hover:hover {
  color: #fff;
  background: #07003b;
  box-shadow: 0px 6px 20px rgba(7, 0, 59, 0.3);
  border-radius: 2px;
}
.end_btn:hover {
  box-shadow: 0px 5px 30px rgba(7, 0, 59, 0.5);
  border-radius: 2px;
}
